body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.stepsContainer {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 1rem;
}

.form-control {
  width: 100%;
  padding: .25rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
